<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week6%20-%20SQL2/Exercises/Exercises_week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab SQL and Python

In [ ]:
# Example how to read from Python
import pandas as pd
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# create the database
db = create_engine('sqlite://', echo=False)

# first table
csvfile = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Players.csv'
df = pd.read_csv(csvfile)
table_name = "Players"
df.to_sql(table_name, con=db) # populate it with the data

# second table
csvfile = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Teams.csv'
df = pd.read_csv(csvfile)
table_name = "Teams"
df.to_sql(table_name, con=db) # populate it with the data

### <font color = 'green'>World Cup Data</font>

#### Take a look at a sample of the Players and Teams tables

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

    index          team  ranking  ...  goalsAgainst  yellowCards  redCards
0       0        Brazil        1  ...             4            7         2
1       1         Spain        2  ...             2            3         0
2       2      Portugal        3  ...             1            8         1
3       3   Netherlands        4  ...             5           15         0
4       4         Italy        5  ...             5            5         0
5       5       Germany        6  ...             3            8         1
6       6     Argentina        7  ...             6            7         0
7       7       England        8  ...             5            6         0
8       8        France        9  ...             4            6         1
9       9        Greece       13  ...             5            5         0
10     10           USA       14  ...             5            9         0
11     11        Serbia       15  ...             3            8         1
12     12       Uruguay       16  ...             5            8         2
13     13        Mexico       17  ...             5            9         0
14     14         Chile       18  ...             5           13         1
15     15      Cameroon       19  ...             5            5         0
16     16     Australia       20  ...             6            7         2
17     17       Nigeria       21  ...             5            5         1
18     18   Switzerland       24  ...             1            8         1
19     19      Slovenia       25  ...             3            9         0
20     20   Ivory Coast       27  ...             3            5         0
21     21       Algeria       30  ...             2            4         2
22     22      Paraguay       31  ...             2            9         0
23     23         Ghana       32  ...             4           11         0
24     24      Slovakia       34  ...             7           11         0
25     25       Denmark       36  ...             6            6         0
26     26      Honduras       38  ...             3            7         0
27     27         Japan       45  ...             2            7         0
28     28   South Korea       47  ...             8            6         0
29     29   New Zealand       78  ...             2            6         0
30     30  South Africa       83  ...             5            4         1
31     31   North Korea      105  ...            12            2         0

[32 rows x 11 columns]

In [ ]:
query = """
"""
sql_df = pd.read_sql(query, con=db)
sql_df

## <font color = 'green'>World Cup Advanced Queries</font>

### Question 1

Find all pairs of teams who have the same number of `goalsFor` against
each other and the same number of `goalsAgainst` against each other.
Return the teams and numbers of goalsFor and goalsAgainst.
Make sure to return each pair only once.

__Hint: You basically need to do a self join of the Teams table. For that you need to join different name aliases of the Teams table. checkout [here](https://www.w3schools.com/sql/sql_join_self.asp) for help.__

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 2
Find all teams with ranking <30 where no player made more than 150 passes. Return the team and ranking.

__Hint: use HAVING clause (documentation [here](https://www.w3schools.com/sql/sql_having.asp))__

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 3
Which team has the highest ratio of `goalsFor` to `goalsAgainst`?

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 4
Find all teams whose defenders averaged more than 150 passes. Return the team and average number of passes by defenders, in descending order of average passes.

__Hint: again you may use the HAVING clause here__

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

## <font color = 'green'>World Cup Basic Queries and Python</font>

### Question 1
Use seaborn to find if their is a correlation for players between: `minutes`,`shots`, `minutes`,`passes`, `tackles`.

In [ ]:
#hints: you need to do a query and have a look at the last plot of the:"walkthroughs week 3 BIA" 
query = """"
"""
sql_df = pd.read_sql(query, con=db)
sql_df
g = sns.PairGrid(sql_df, vars=[],
                 palette='pale red')
g.map(plt.scatter, alpha=0.2)
plt.subplots_adjust(top=0.9)
g.fig.suptitle('PairGrid to find a possible correlation', size=24)
g.add_legend();

sql_df.corr(method='pearson')

###Question 2
Find the goalkeepers of teams that played more than four games. List the surname of the goalkeeper, the team, and the number of minutes the goalkeeper played.

**Hint: You should join the two tables**

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

In [ ]:
fig = plt.gcf() #the aera of the plt figure
fig.set_size_inches(16, 12) #resize the figure
ax = sns.barplot(x="", y="", data=sql_df)
plt.show()


## <font color = 'green'>World Cup Basic Queries</font>

### Question 1
What player on a team with “ia” in the team name played less than 200 minutes and made more than 100 passes? Return the player surname and team. 

**Hint: To check if attribute A contains string S use \"A like '%S%'"**

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 2
Return players names, their teams and the ranking of their team.

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 3
How many players who play on a team with ranking <10 played more than 350 minutes? Return one number in a column named 'superstar'.*

__Hint: use "SELECT ... AS new_col_name" to rename a column__

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 4
What is the average number of passes made by forwards? By midfielders? Write one query that returns both values with the corresponding position.

__Hint: use the GROUP BY clause__

__Hint: when selecting columns you can use AVG, SUM or COUNT clauses to calculate aggregates__

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

### Question 5
 Find all players who made more than 20 shots. Return all player information in descending order of shots made.

**Hint: SQL ordering syntax: "ORDER BY column1, column2,... ASC|DESC\"**

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 6
Which team has the highest average number of passes per minute played? Return the team and average passes per minute.

**Hint 1: You can compute a team's average number of passes per minute played by dividing the total number of passes by the total number of minutes. To force floating point division, multiply one operand by 1.0.**

**Hint 2: Consider using Limit.**

In [ ]:
query = """

"""
sql_df = pd.read_sql(query, con=db)
sql_df