<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week5%20-%20SQL/exercices/SQL1_EX1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 5 - SQL (1/2) - Exercice
First, we need to import the Python libraries we will need and do various setups.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
db = create_engine('sqlite://', echo=False)
csvfile = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/artists%20(1).csv'
df = pd.read_csv(csvfile)
df.columns = map(str.lower, df.columns)
table_name = 'artists'
df.to_sql(table_name, con=db)

Now, let's take a first look at the data we will be working with.

In [ ]:
query = """
select * from artists
limit 5
"""
sql_df = pd.read_sql(query, con=db)
sql_df

   index  id  ...                                       wikipedia paintings
0      0   0  ...  http://en.wikipedia.org/wiki/Amedeo_Modigliani       193
1      1   1  ...  http://en.wikipedia.org/wiki/Wassily_Kandinsky        88
2      2   2  ...       http://en.wikipedia.org/wiki/Diego_Rivera        70
3      3   3  ...       http://en.wikipedia.org/wiki/Claude_Monet        73
4      4   4  ...      http://en.wikipedia.org/wiki/René_Magritte       194

[5 rows x 9 columns]

Each row contains a painter. We can see that the dataset contains the following information:
- **`name`**
- **`years`**: date of birth - date of death
- **`genre`**: the artistic movement they embody
- **`nationality`**
- **`bio`**
- **`wikipedia`**
- **`paintings`**: total number of paintings

### Question 1
Find the names of all French artists and order them by alphabetical order.

In [ ]:
query = """ 
select 

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 2
Find the total number of Italian artists.

In [ ]:
query = """ 
select

 """
sql_df = pd.read_sql(query, con=db)
sql_df.head()

###Question 3

Find the painter that was the most prolific.

In [ ]:
query = """ 
select 

 """
sql_df = pd.read_sql(query, con=db)
sql_df.head()

###Question 4
Find the 5 genres that are the most represented. Display the genres and the respective number of artists representing them (as NumberOfRepresentants)

In [ ]:
query = """ 
select

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 5
Find all the artists whose name start by a 'P' and have painted more than 200 paintings

In [ ]:
query = """ 
select

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 6
Find the genres where the Total number of paintings is greater or equal than 1000.

In [ ]:
query = """ 
select

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 7
Find all the artists that where born after 1900. Display their names and their dates of birth and death.

In [ ]:
query = """ 
select

"""
sql_df = pd.read_sql(query, con=db)
sql_df

###Question 8
Find all the artists that where born during the XVII century and are Spanish or Italian.

In [ ]:
query = """ 
select

"""
sql_df = pd.read_sql(query, con=db)
sql_df