<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week3%20-%20Pandas%20-%20Data%20Cleaning/Exercises/Exercise1_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# EDA and data visualization

## Exercises

In this exercise you're going to follow the walkthroughs seen before and creat the same types of charts.<br>
Thoses chart will help you to answer questions.

For this, we're going to use the same data-set we used in the walkthroughs.<br>

***Beware ! You need to clean the data-set to be able to answer the questions ;)***

## 1. Imports, data set and cleaning

###1.1 Imports

In [ ]:
#do the imports here

###1.2 Load the data-set

In [ ]:
#"https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Telco-Customer-Churn.csv")

###1.2 Cleaning the NaN value

In [ ]:
#data.isnull().sum()

In [ ]:
#data.shape

(7043, 21)

In [ ]:
#data.dtypes

transforme `TotalCharges` into float with:
```python 
pd.to_numeric(data['TheColumnNeeded'],errors='coerce')
```

In [ ]:
#here

##2. Pie chart
**question:**
"What is the proportion of Female in the dataframe ?"

In [ ]:
#you can count the customerID

##3. Barplot

**question:** "How many women are in the dataframe ?"

In [ ]:
#you can count the customerID

**Horizontally**

In [ ]:
#you can count the customerID

##4. Barplot using Seaborn
**question:** "Which payement methode is the most represented  ?"<br>

In [ ]:
#you can count the customerID

##5. Boxplot

**question:** "What are the mean, median, min and the value of the third quartile of the `MonthlyCharges`  ?"<br>

In [ ]:
#here for the visualization

In [ ]:
#here for the numerical

## 6. Scatter Plot and lines

### 6.1 Scatter plot
**question:** "Is there a correlation between the `MonthlyCharges` and the `TotalCharges` ?"

In [ ]:
#

## Pair Grid or "how to find correlations ?"
**question:** "could you find any correlation between one of those values: " `tenure`, `MonthlyCharges`, `TotalCharges` ?"

In [ ]:
#