<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/labs/02%20-%20Pandas%20and%20Python/walkthroughs/Basic_Pandas_Load_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center"> Walkthrough - Lab 2</h1>

<div>
<td> 
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Logo_Universit%C3%A9_de_Lausanne.svg/2000px-Logo_Universit%C3%A9_de_Lausanne.svg.png" style="padding-right:10px;width:240px;float:left"/></td>
<h2 style="white-space: nowrap">Business Intelligence and Analytics</h2></td>
<hr style="clear:both">
<p style="font-size:0.85em; margin:2px; text-align:justify">

</div>

# Basic Pandas operations

**Goal**: Our goal here is to learn how to load a dataset into a Pandas DataFrame. The dataset can come either in CSV or in JSON format. We will see also how to perform basic data manipulations and very basic data visualizations so that you understand the nature of your data.

## 1. Loading a dataset in CSV format

First you have to import the `pandas` package.

In [135]:
import pandas as pd # press shift+enter to execute it

Now you can see that you autocomplete your code with functions that are included in `pandas`. Eg type `pd.read` and see that it recommends some functions:

In [136]:
# let's load a file
url = "https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/pandas_tutorial_read.csv"
data = pd.read_csv(url) 
data.head()

  01.01.2018 00:01;read;country_7;2458151261;SEO;North America
0  01.01.2018 00:03;read;country_7;2458151262;SEO...
1  01.01.2018 00:04;read;country_7;2458151263;AdW...
2  01.01.2018 00:04;read;country_7;2458151264;AdW...
3  01.01.2018 00:05;read;country_8;2458151265;Red...
4  01.01.2018 00:05;read;country_6;2458151266;Red...

Is the above correct? Most likely not. 

CSV stands for "Comma Separated Values", which is not the case here. We see there are ';' and the data seem to be in one column. The default delimiter is ',' so we need to change it.

In [137]:
data = pd.read_csv(url, delimiter=';') 
data.head()

   01.01.2018 00:01  read  country_7  2458151261      SEO  North America
0  01.01.2018 00:03  read  country_7  2458151262      SEO  South America
1  01.01.2018 00:04  read  country_7  2458151263  AdWords         Africa
2  01.01.2018 00:04  read  country_7  2458151264  AdWords         Europe
3  01.01.2018 00:05  read  country_8  2458151265   Reddit  North America
4  01.01.2018 00:05  read  country_6  2458151266   Reddit  North America

This looks better. But something else does not look good now. Our DataFrame is missing a header, let's assign one:

In [138]:
data = pd.read_csv(url, 
                   delimiter=';', 
                   names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic']) 
data.head()

        my_datetime event    country     user_id   source          topic
0  01.01.2018 00:01  read  country_7  2458151261      SEO  North America
1  01.01.2018 00:03  read  country_7  2458151262      SEO  South America
2  01.01.2018 00:04  read  country_7  2458151263  AdWords         Africa
3  01.01.2018 00:04  read  country_7  2458151264  AdWords         Europe
4  01.01.2018 00:05  read  country_8  2458151265   Reddit  North America

With the `head` function you see the first few lines. The .shape function shows the shape of the dataframe (rows, columns). You can also see the:

- whole dataset: just type ```data```
- the beginning as before ```data.head()``` 
- the last 5 entries ```data.tail()``` or 
- a sample such as ```data.sample(5)```
- some descriptive statistics ```data.describe()```
Try it out below:

In [139]:
data.shape

(1795, 6)

In [140]:
#Use this cell to write your own code

### DataFrame components
There are three components of the DataFrame: the index, columns and data (values). We can extract each of these components into their own variables. Let's do that and then inspect them:

In [141]:
index = data.index
columns = data.columns
values = data.values

In [142]:
index

RangeIndex(start=0, stop=1795, step=1)

In [143]:
columns

Index(['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'], dtype='object')

In [144]:
values

array([['01.01.2018 00:01', 'read', 'country_7', '2458151261', 'SEO',
        'North America'],
       ['01.01.2018 00:03', 'read', 'country_7', '2458151262', 'SEO',
        'South America'],
       ['01.01.2018 00:04', 'read', 'country_7', '2458151263', 'AdWords',
        'Africa'],
       ...,
       ['01.01.2018 23:59', 'read', 'country_6', '2458153053', 'Reddit',
        'Asia'],
       ['01.01.2018 23:59', 'read', 'country_7', '2458153054', 'AdWords',
        'Europe'],
       ['01.01.2018 23:59', 'read', 'country_5', '2458153055', 'Reddit',
        'Asia']], dtype=object)

### Data types of the components

In [145]:
type(index)

pandas.core.indexes.range.RangeIndex

In [146]:
type(columns)

pandas.core.indexes.base.Index

In [147]:
type(values)

numpy.ndarray


The index and the columns are the same type: a pandas **`Index`** object (**`RangeIndex`** is of type **`Index`**), which is a sequence of labels for either the rows or the columns.

The values are a NumPy **`ndarray`**, which stands for n-dimensional array, and is the primary container of data in the NumPy library. Pandas is built directly on top of NumPy.

### Selecting columns

If you want to select two particular columns you can do it like that:

```data[['country', 'user_id']]``` 

or you can take the columns in a different order: 

```data[['user_id', 'country']]```.

The way to remember the syntax is that outer brackets signify that you want to select columns, and the inner brackets are for the list itself.

Try it out.

The above returns a pandas.DataFrame. If you want to return a pandas.Series instead then you can use this syntax:

```data.user_id ```

or 

``` data['user_id'] ```

If you want to filter one those users that came from SEO then you can write:

``` data[data.source == 'SEO'] ```

where the inner statement will create a boolean mask.

### Chaining

You can combine multiple selection methods as follows:

``` data.head()[['country', 'user_id']] ```

**CAUTION**: A thing to keep in mind is that when you use chaining you work on *copies* of the original DataFrame. So if you use chaining to change data, you may observe that the original DataFrame was not changed.

#### Exercice 1:
Now it's your turn to solve an exercise and deepen your knowledge.

Select the user_id, the country and the topic columns for the users who are from country_2 and show only the first 10 results

In [148]:
# enter your solution here.

### Column Types

Remember that each column/attribute of our data may have different attribute types. Have a look at the following table to understand the different DataTypes in Pandas and Python.

| Pandas dtype  | Python type  | NumPy type|Usage
| :--- | :--- | :--- | :--- |
| object| str or mixed | string_, unicode_, mixed types| Text or mixed numeric and non_numeric values |
| int 64| int| int_, int8, int16, int32, int64, uint8, uint18, uint32, uint64 | Integer numbers i.e. [1,2,3,...] |
| float64| float| float_, float15, float32, float64 | Floating point numbers (They contain decimal points) |
| bool| bool|bool_| True/False values|
| datetime64 | NA | datetime64[ns]     | Date and time values  |
| timedelta[ns] | NA  | NA| Differences between two datetime|
| category | NA| NA| Finite list of text values|

Although Pandas will correctly infer the type of data most of the times, it is important to check our columns and convert them if needed. Otherwise our results might get messed up.

The function `.dtypes` allows us to see the type of each column. Run the following cell to see how it works:

In [149]:
data.dtypes

my_datetime    object
event          object
country        object
user_id        object
source         object
topic          object
dtype: object

We can see that altough most columns seem to have the correct type, we can still improve our DataFrame. Let's convert the ["my_datetime"] column to the "datetime64" type, so that Pandas knows this column contains Date and Time values.

For this, the [.to_datetime()](https://https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) function might come in handy.

In [150]:
# First, let's convert the column type
data["my_datetime"] = pd.to_datetime(data["my_datetime"]) 

#Now let's have a look at the dtypes once again
data.dtypes

my_datetime    datetime64[ns]
event                  object
country                object
user_id                object
source                 object
topic                  object
dtype: object

The user_id column seems to contain integers. Pandas did not correctly infer it since some of the rows in this column are corrupted (they contain other values than integers). 

However, we can still use the `pd.to_numeric` function to convert the column to the correct type. We can use the `errors = 'coerce' argument to handle these errors. This will set all cells in the ["user_id"] column containing corrupted entries to NaN (Not a Number). 

Other possible values for "errors=" are:
 * `errors = raise` This will raise an error if it encounters an invalid entry
 * `errors = ignore` This will return the original data (the data we passed as an argument) if it encounters an error. No conversion will take place.

In [151]:
#Let's convert the column type 
data["user_id"] = pd.to_numeric(data["user_id"], errors='coerce')

#Now let's have a look at the dtypes once again
data.dtypes

my_datetime    datetime64[ns]
event                  object
country                object
user_id               float64
source                 object
topic                  object
dtype: object

Since the number of possible countries is limited, we can convert that column to the categorical type with the `.astype()` function:

In [152]:
#Change dtype
data['country'] = data['country'].astype('category')

#Now let's have a look at the dtypes once again
data.dtypes

my_datetime    datetime64[ns]
event                  object
country              category
user_id               float64
source                 object
topic                  object
dtype: object

### Dropping missing values

Since our column contained some corrupted data, those cells were set to NaN. 
The function `.isnull()` will return a DataFrame with values:
 * False for cells where the data is not null
 * True for cells where the data is null

We can then use `.sum()` to sum all values where the latter is True.

In [153]:
#Let's see how many column values are missing
data.isnull().sum()

my_datetime    0
event          0
country        0
user_id        4
source         0
topic          0
dtype: int64

We can now remove the missing values with the `.dropna()` function.
If no argument is passed, this function will drop all rows where at least one of the values is missing.

In [154]:
#We first drop all the rows
data = data.dropna()

#Let's have another look
data.isnull().sum()

my_datetime    0
event          0
country        0
user_id        0
source         0
topic          0
dtype: int64

---
## 2. Loading JSON files

Many of the data in the Internet exists in JSON format which is a structured text format, and is very similar to a Python dictionary.

We will see how to load a JSON dataset in a Pandas DataFrame.

We will use the Citibike API that provides a real-time view of the Citibike stations in New York.
The API call at http://www.citibikenyc.com/stations/json.

In [155]:
# Import libraries
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)
# Display max 50 rows
pd.set_option('display.max_rows', 50)

In [156]:
# Read json file

# import urllib library
from urllib.request import urlopen
  
# import json
import json
# store the URL in url as 
# parameter for urlopen
url = "https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/labs/02%20-%20Pandas%20and%20Python/walkthroughs/data/station_information.json"
  
# store the response of URL
response = urlopen(url)
  
# storing the JSON response 
# from url in data
data = json.loads(response.read())

#uncomment to see how the data looks:
#print(data)

In [157]:
# Below you see how the JSON file looks. The JSON results contain two keys:
#  - The 'data' key contains all the data
#  - The 'last_updated' key contains the timestamp of the last update
#  - And the 'ttl' key contains the time to live of the data
data.keys()

dict_keys(['data', 'last_updated', 'ttl'])

In [158]:
# The field "data" contains the information we want but it has a nested structure
data["data"].keys()
# The field "stations" contains the actual data

dict_keys(['stations'])

In [159]:
# We can convert the nested dictionary to a pandas dataframe
# We want to extract the data from the key "data"
df_info = pd.DataFrame(data["data"]["stations"])
df_info.sample(5)

,station_id,rental_uris,has_kiosk,region_id,electric_bike_surcharge_waiver,capacity,lat,lon,external_id,rental_methods,name,eightd_station_services,station_type,legacy_id,short_name,eightd_has_key_dispenser
1471,4572,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,23,40.856987,-73.898237,191d5d54-de64-4312-99c7-eee141efa4ef,"[KEY, CREDITCARD]",Valentine Ave & E 183 St,[],classic,4572,8472.06,False
844,3822,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,20,40.700760,-73.936410,0575e356-72f4-4251-8e15-574cf60bd190,"[KEY, CREDITCARD]",Bushwick Ave & Forrest St,[],classic,3822,4914.03,False
915,3896,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,22,40.701830,-73.906250,26cae473-0e59-4af7-bad5-bb6fec85c8bc,"[KEY, CREDITCARD]",Madison St & Seneca Ave,[],classic,3896,4880.11,False
359,66dd49eb-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,31,40.771639,-73.982614,66dd49eb-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",W 63 St & Broadway,[],classic,3158,7052.01,False
1041,4051,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,26,40.834468,-73.939865,b83b2a73-af8e-4b82-b61e-aeaaf075fbe2,"[KEY, CREDITCARD]",W 160 St & St. Nicholas Ave,[],classic,4051,8138.07,False

In [160]:
# Display types of each column
df_info.dtypes

station_id                         object
rental_uris                        object
has_kiosk                            bool
region_id                          object
electric_bike_surcharge_waiver       bool
capacity                            int64
lat                               float64
lon                               float64
external_id                        object
rental_methods                     object
name                               object
eightd_station_services            object
station_type                       object
legacy_id                          object
short_name                         object
eightd_has_key_dispenser             bool
dtype: object

In [161]:
# Replace NAN value of all integer fields by 0
df_info.fillna(0, inplace=True)

---
For the following questions, you may find usefull to use the following functions:
- `describe()`,
- `mean()`,
- `groupby()`,
- `where()`,
- `sort_values()`

You will find more information about them on the offcial documentation.

__Question 2.1:__ Add a column nammed `ebike_prop` which contains the proportion of available e-bikes among all available bikes. That is we want the following ratio expressed in percenatge : $$\frac{num \ ebikes \ available}{num \ ebikes \ available + num \ bikes \ available}$$

In [162]:
# Add column with the proportion of e-bikes available
df_info["ebike_prop"] = ... # enter your solution here
df_info.head()

,station_id,rental_uris,has_kiosk,region_id,electric_bike_surcharge_waiver,capacity,lat,lon,external_id,rental_methods,name,eightd_station_services,station_type,legacy_id,short_name,eightd_has_key_dispenser,ebike_prop
0,66dd17a5-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,51,40.724813,-73.947526,66dd17a5-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",Nassau Ave & Newell St,[],classic,3100,5623.03,False,Ellipsis
1,66dc10d1-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,45,40.726218,-73.983799,66dc10d1-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",E 7 St & Avenue A,[],classic,432,5626.07,False,Ellipsis
2,66dbee85-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,75,40.684157,-73.969223,66dbee85-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",Fulton St & Clermont Ave,[],classic,397,4386.05,False,Ellipsis
3,66dcc37f-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,23,40.688334,-73.950916,66dcc37f-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",Greene Ave & Nostrand Ave,[],classic,3055,4519.02,False,Ellipsis
4,66dc7ba2-0aca-11e7-82f6-3863bb44ef7c,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,True,71,False,43,40.729387,-73.977724,66dc7ba2-0aca-11e7-82f6-3863bb44ef7c,"[KEY, CREDITCARD]",E 14 St & Avenue B,[],classic,511,5736.09,False,Ellipsis

__Question 2.2:__ What are the `station_id` of the stations with the greatest proportion of available e-bikes ? Display the first 5 stations.

In [163]:
# enter your solution here

__Question 2.3:__ What are the `station_id` of the stations with the greatest proportion of available e-bikes where the number of available e-bikes is greater or equal to 10 (so that you can maximize your chances to get an e-bike by the time you reach the station) ? Display the first 10 stations id with the proportion, number of docks of the station and the number of bikes available.

In [164]:
# enter your solution here

__Question 2.4:__ It is often interesting to find simple statistics about a column like the mean, or the highest values. Whhat is the proportion of stations with a proportion of available e-bikes >= 50 % ? Same question for a proportion of 75 %.

In [165]:
# Display the statistics of the initial data file for the newly_created column "ebike_prop"
# enter your solution here

__Question 2.5:__ Print the number of disabled bikes in the entire network.

In [166]:
# enter your solution here

__Question 2.6:__ Count the number of stations with at least 5 bikes unavailable. Display the following fields:
- station_id,
- station_status,
- num_bikes_available,
- num_docks_available,
- num_bikes_disabled

---
## Writing the data to a CSV

With the above, we just scratched the surface of what it means to do data processing.

After you did your basic data processing, you may want to save the DataFrame in a new CSV file, so that you don't have to repeat the same pre-processing everytime. You can use the [to_csv](https://datatofish.com/export-dataframe-to-csv/) function.

**Note**: When you use Google Colab, this file will only be saved in your temporary virtual machine space and will be deleted once your Colab instance is closed (i.e. you close the window). If you want to explore more permanent solutions of saving your file look [here](https://colab.research.google.com/notebooks/io.ipynb).

In [167]:
# uncomment the following to save the file
# df.to_csv("my_new_file.csv", sep=",")