<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/week3%20-%20Pandas%20-%20Data%20Cleaning/Exercises/Exercises/Exercise1_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# EDA and data visualization

## Exercises

In this exercise you're going to put in practice what you just learned and implement the same types of charts.<br>
Thoses chart will help you to answer questions.

For this, we're going to use the same data-set we used in the walkthroughs.<br>

***Beware ! You need to clean the data-set to be able to answer the questions ;)***

## 1. Imports, data set and cleaning

###1.1 Imports

First, you have to import the libraries you wil need.

In [ ]:
#do the imports here
#Don't forget to import seaborn and scatter_matrix
import pandas as pd
import seaborn as sns
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

###1.2 Load the data-set

Here is the url to retreive the data set : https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/Telco-Customer-Churn.csv

In [ ]:
# import data set and call head function

### 1.3 Converting column types

In [ ]:
#Take a look at the column types

In [ ]:
#Convert Total Charges to numeric, use error = 'coerce'

In [ ]:
# What columns can be converted to the categorical type?
# Convert 3 of them here

### 1.4 Boolean values

Remeber that boolean values are either True or False. Use the `value_counts()` function to see what values compose the `seniorCitizen` column.

If you did it right, you should see that the column is composed only of 0's and 1's. We could change the 1's for `True` and the 0's for `False`.

You can use the `astype` function for this, just pass 'bool' as an argument instead of 'category'.

What other columns can be converted to this type? Convert at least 3 of them.

###1.5 Cleaning the NaN values

Now since the data set contains NaN values, you will need to clean first before the Analysis.

In [ ]:
#Count the null values

In [ ]:
#Drop the null values

##2. First analysis
**question:**
What is the proportion of women in our Data?

##3. Histogram

Now, plot an histogram of the `TotalCharges` column, use 20 bins.

##4. Boxplot

**question:** What are the mean, median, min and the value of the third quartile of the `MonthlyCharges` and `TotalCharges` ?<br>

Plot both in one figure

In [ ]:
#here for the visualization

In [ ]:
#here for the numerical

## 5. Scatter Plot and lines

### 5.1 Scatter plot
**question:** Is there a correlation between the `MonthlyCharges` and the `TotalCharges` ?

### 5.2 Pair Grid
**question:** could you find any correlation between one of those values: `tenure`, `MonthlyCharges`, `TotalCharges` ?
 (Use scatterplot)

## 6. Heatmap and correlations
Calculate the correlation DataFrame, and plot its heatmap.